<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Домой</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="http://facebook.com/fundersandfounders" title="Посетить нашу Фейсбук страницу (на английском)" target="_blank">Фейсбук</a>
    <a class="sidebar-nav-item" href="http://twitter.com/fundersfounders" title="Посетить наш Твиттер (на английском)" target="_blank">Твиттер</a>
    <a class="sidebar-nav-item" href="http://vk.com/fundersandfounders" title="Посетить нашу групу ВКонтакте" target="_blank">ВКонтакте</a>
  </nav>

  <div class="sidebar-item">
    <p>Авторы проекта:</p>
    <p>
      <a href="https://twitter.com/annavitals" target="_blank">@annavitals</a>, <a href="https://twitter.com/markvitals" target="_blank">@markvitals</a>.
    </p>
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
    <small>Версия v{{ site.version }}</small>
  </div>
</div>
